.category-meals {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding: 0 10px; */
  /* background: white; */
}

.content {
  position: relative;
  width: 1203px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  /* background: white; */
}
