.description {
  display: flex;
  flex-direction: row;
  height: 260px;
  /* border: yellow solid 1px; */
  padding: 20px 0;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  margin-bottom: 10px;
}

.description-image {
  width: 350px;
  height: 200px;

  /* flex-grow: 1; */
  /* border: green solid 1px; */
  border-radius: 5px;
  object-fit: cover;
}

.description-text {
  padding-right: 20px;
}

h1 {
  /* font-size: 32px; */
  font-weight: bold;
  margin-bottom: 40px;
}

.description-text p {
  line-height: 28.8px;
  letter-spacing: 0px;
  color: #868a8a;
  font-size: 19px;
}
